DATABASE_URL=postgresql+asyncpg://postgres:postgres@pgsql:5432/teatro_dos_bots
DRANT_HOST=qdrant
QDRANT_PORT=6333
USE_OPENAI=false
QDRANT_COLLECTION=agent_memory
VECTOR_SIZE=1536
EMBED_MODEL=text-embedding-ada-002
OPENAI_API_KEY=sk-proj-xxxxxxxxxxyyyyyyyyyyzzzzzzzzzz
LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
USE_OPENAI=true
PORT=8000